<style>
    .header {
        background-image: url("img/living.jpg");
        background-size: cover;
        color:rgb(59, 59, 59)
    }
</style>

<div class="header">
    <h1>The Robots</h1>  
    <p>The demo</p>
</div>
<div class="content">
    <div class="row">
        <div class="column-20">
            <div class="card card_side">
                <div class="card__wrapper_side">
                    Card
                </div>
            </div>
        </div>
        <div class="column-80">
            <div class="card card_main">
                <div class="card__wrapper">
                    Card
                    <div id="main_card" class="card_task">This is task</div>
                </div>
            </div>
        </div>
    </div>
</div>