
<div class="header">
    <h1>Table</h1>
</div>
<div class="content">
<div class="row"> 
    <div class="column-20">
        <div class="card card_side">
            <div class="card__wrapper_side">
                Card    
            </div>
        </div>
    </div>
    <div class="column-80">
        <div class="card card_main">
            <div class="card__wrapper">
                Card  
                <table>
                    <tr>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Points</th>
                    </tr>
                    <tr>
                      <td>Jill</td>
                      <td>Smith</td>
                      <td>50</td>
                    </tr>
                    <tr>
                      <td>Eve</td>
                      <td>Jackson</td>
                      <td>94</td>
                    </tr>
                    <tr>
                      <td>Adam</td>
                      <td>Johnson</td>
                      <td>67</td>
                    </tr>
                  </table>  
            </div>
        </div>
    </div>
</div>
</div>